<div class="container-xxl d-flex justify-content-center align-items-center vh-100">
  <div class="row shadow rounded-4 overflow-hidden w-75">

    @if (step === 1) {
      <div class="col-md-9 p-5 d-flex flex-column justify-content-center">
        <h2 class="text-center mb-4">Crear Cuenta</h2>
        <!-- Botón de Registro con Google -->
        <button class="btn btn-primary w-100 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
            <path fill="#fbc02d"
                  d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
            <path fill="#e53935"
                  d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
            <path fill="#4caf50"
                  d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
            <path fill="#1565c0"
                  d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
          </svg>
          Registrarse con Google
        </button>
        <!-- Separador con "o" -->
        <div class="text-center position-relative my-3"><span class="px-3 bg-white position-relative z-1">o</span>
          <div class="position-absolute top-50 start-0 w-100 border-bottom"></div>
        </div> <!-- Formulario de Registro - Paso 1 -->
        <form (submit)="nextStep($event)">
          <div class="mb-3"><label for="email" class="form-label">Correo Electrónico</label>
            <input type="email"
                   class="form-control"
                   id="email" required>
          </div>
          <div class="mb-3"><label for="password" class="form-label">Contraseña</label>
            <input type="password"
                   class="form-control"
                   id="password" required>
          </div>
          <div class="mb-3"><label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Continuar</button>
        </form>
      </div>
    } @else if (step === 2) {
      <div class="col-md-9 p-5 pt-3 d-flex flex-column justify-content-center">
        <!-- 4 bars stepper. 2 bars of 4 -->
        <div class="d-flex mb-5">
<!--          4 boostrap progress bars-->
          <div class="progress w-25 me-2">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress w-25 me-2">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress w-25 me-2">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress w-25">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        </div>


        <h2 class="text-center mb-4">📝 Introduce tus datos</h2>
        <!-- Formulario de Registro - Paso 2 -->
        <form (submit)="nextStep($event)">

          <div class="mb-3 d-flex">
            <div class="me-2">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div>
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" required>
            </div>
          </div>
          <div class="mb-3 d-flex">
            <div class="me-2">
              <label for="weight" class="form-label">Peso (kg)</label>
              <input type="number"
                     class="form-control"
                     id="weight" required>
            </div>
            <div>
              <label for="height" class="form-label">Altura (cm)</label>
              <input type="number"
                     class="form-control"
                     id="height" required>
            </div>
          </div>

          <div class="mb-3 d-flex">
            <div class="me-3">
              <label for="age" class="form-label">Edad</label>
              <input type="number"
                     class="form-control"
                     id="age" required>
            </div>
            <div>
              <label for="gender" class="form-label">Género</label>
              <select class="form-select form-select mb-3" id="gender" required>
                <option value="" selected>Selecciona tu género</option>
                <option value="men">Hombre</option>
                <option value="woman">Mujer</option>
              </select>
            </div>
          </div>

<!--          Botones volver y continuar-->
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="prevStep($event)">Volver</button>
            <button type="submit" class="btn btn-primary">Continuar</button>
          </div>
        </form>
      </div>
    }



    <div class="col-md-3 bg-primary"></div>
  </div>
</div>

