@if (!isLoggedIn()) {
  <nav class="navbar navbar-expand-sm bg-white shadow-sm fixed-top">
    <div class="container-xxl">
      <a class="navbar-brand fw-bold text-dark fs-4 cursor-pointer" href="#" (click)="info()"
      >NutriTrack</a
      >

      <!-- Menu anvorguesa moviles -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del navbar -->
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item m-1">
            <button
              class="btn btn-light text-dark btn-md mx-2"
              (click)="goToLogin()"
            >Iniciar sesión
            </button
            >
          </li>
          <li class="nav-item m-1">
            <button
              class="btn btn-primary text-white btn-md"
              (click)="goToRegister()"
            >Registro
            </button
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
} @else {
  <nav class="navbar navbar-expand-sm bg-white shadow-sm fixed-top">
    <div class="container-xxl">
      <a class="navbar-brand fw-bold text-dark fs-4 cursor-pointer" (click)="goToHome()">NutriTrack</a>

      <!-- Menu hamburguesa moviles -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavLoggedIn"
        aria-controls="navbarNavLoggedIn"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del navbar -->
      <div class="collapse navbar-collapse" id="navbarNavLoggedIn">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="link-primary" (click)="goToHome()">Inicio</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/diario-nutricion" routerLinkActive="link-primary" (click)="goToDiarioNutricion()">Mis comidas</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#" routerLink="/recetas" routerLinkActive="link-primary" >Recetas</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#" routerLink="/informes" routerLinkActive="link-primary" >Informes</a>
          </li>
        </ul>
        <ul class="navbar-nav d-none d-sm-flex">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" (click)="goToPerfil()">Ajustes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión <i class="bi bi-box-arrow-right icon-outline-red icon-size mx-2"></i></a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav d-flex d-sm-none w-100 justify-content-between">
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()"><i class="bi bi-box-arrow-right icon-outline-red icon-size"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
}
